.list-header {
  background: $off-white;
  border: 1px solid darken($off-white, 7%);
  color: $grey;
  display: flex;
  justify-content: space-between;
  padding: $s-size $m-size;
}

.list-item {
  border: 1px solid darken($off-white, 7%);
  border-top: none;
  color: $dark-grey;
  display: flex;
  flex-direction: column;
  padding: $s-size;
  text-decoration: none;
  transition: background .3 ease;
  &:hover {
    background: $off-white;
  }
  @media (min-width: $desktop-breakpoint) {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: $m-size;
  }
}

.list-item .col {
  width: 32%;
}

.list-item .toright{
  text-align: right;
}

.list-item .toleft{
  text-align: left;
}

.list-item .tocenter {
  text-align: center;
}

.list-font {
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1;
}